.paper{
  padding: 0;
  text-align: center;
  color: #ff0000;
}


.windowFrame {
  background-color: #282828;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerContainer {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.splitLeftContainer {
  width: 50%;
  display: inline-block;
}

.splitRightContainer {
  width: 50%;
  display: inline-block;
}


.headline {
  font-size: 75px;
  margin-bottom: 200px; 
  text-align: center;
  color: #F5F2EB;
}

.header-second {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 300px;
  color: #F5F2EB;
}