.toolbar-spacer {
    flex: 1 1 auto;
}

.chooser-container {
    height: 85%;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;

    vertical-align: center;
    border-radius: 30px;
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
}

.device-list-header{
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.switch-to-color-button {    
    
}

.toolbar{
    margin-bottom: 75px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

