<mat-toolbar class="toolbar">
    <span>LED</span>
    <div class="toolbar-spacer"></div>
    <div>
        <ng-template [ngIf]="isLoadingMoods">
            <mat-spinner [diameter]=30 class="spinner"></mat-spinner>
        </ng-template>
        <ng-template [ngIf]="!isLoadingMoods">
            <button mat-button (click)="openBottomSheet()">Mood</button>
        </ng-template>
    </div>
</mat-toolbar>

<div class="chooser-container">
    
    <ng-template [ngIf]="!isSelectingColor">
        <div class="device-list-header">
            <h2>Choose device(s)</h2>
            <span class="toolbar-spacer"></span>
            <button mat-fab color="primary" (click)="switchToColorSelect()" class="switch-to-color-button">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-selection-list [(ngModel)]="selectedDevices">
            <mat-list-option *ngFor="let device of this.devices" [value]="device">Name {{device.name}}</mat-list-option>
        </mat-selection-list>
    </ng-template>
    <ng-template [ngIf]="isSelectingColor">
        <div class="device-list-header">
            <h2>Choose color</h2>
            <span class="toolbar-spacer"></span>
            <button mat-fab color="primary" (click)="switchToDeviceSelect()" class="switch-to-color-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-device-controls></app-device-controls>
    </ng-template>
</div>

<!--
<ng-template [ngIf]="this.devices !== undefined">
    <div class="device-container">
        <div class="device-grid-container">
            <div class="device-grid-header" *ngIf="this.selectedDevice === undefined" [@fade]>
            <a>Devices</a>
        </div>
        <div class="device-grid">
            <ng-template [ngIf]="this.selectedDevice === undefined">
                <div class="device-grid-item" [@fade] *ngFor="let device of devices" (click)="selectDevice(device)">
                    <img (click)="onOnClicked(device)" class="device-icon-center" src="/assets/lightbulb_on.svg" alt="image">
                    <a class="device-grid-item-header">{{device.name}}</a>
                </div>
            </ng-template>
            <div class="device-grid-controls-container" *ngIf="this.selectedDevice !== undefined" [@fade_delayed]>
                <app-device-controls [selectedDevice]="this.selectedDevice" (onBack)="selectDevice(undefined)"></app-device-controls>
            </div>
        </div>
    </div>
    </div>

</ng-template>
-->