#device-detail-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    
}

#device-detail-light-switch-container {
    background-color: gainsboro;
    flex-grow: 2;
}

.device-detail-brightness-slider{
    height: 100%;
}

#device-detail-container-column{
    display: flex;
    flex-grow: 10;
}

#device-detail-tabs-container{
    width: 100%;
}
#device-detail-modes{
    width: 100%;
    flex-wrap: wrap;
}
.device-detail-modes-item{
    flex: 1 1 20%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}